.subtitles {
    bottom: 10vh;
}

.text-bg {
    color: var(--blanc);
    position: relative;

    top: 50%;
    left: 30%;

    transform: translate(-50%, -60%);

    width: 40%;
    height: 50vh;

    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
}

.text-bg .text {
    margin-left: 10vw;
}

.title-logo {
    margin-top: -5vh;
    margin-left: -5vh;
    width: 25vw;
    height: 20vw;
}

.under-title {
    width: 400px;
    border-radius: 100px;
    border: white 4px solid;
    color: #FFFFFF;
    background-color: #FFFFFF;
    margin-top: -11vh;
}

.sub-title {
    margin-top: 5vh;
    font-size: 4vh;
}

.box-video {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.box-video video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 42%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.box-video::before {
    position: absolute;
    content: "";
    height:  100%;
    width: 100%;
    z-index: -99;
    background-color: black;
    opacity: 0.3;
}

.mouse-scroll {
    top: 85%;
    left: 10%;
}

.back-top .border {
    position: fixed;
    top: 88%;
    left: 90%;
    border: rgba(232,232,232,50%) 2px solid;
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

.back-top .border img {
    margin-left: 8px;
    margin-top: 8px;
    width: 60px;
    height: 60px;
}

.presentation {
    margin-top: -1.8vh;
    height: 100vh;
    text-align: center;
    min-height: 100%;
    background-image: linear-gradient(to bottom right, var(--rouge-1), var(--rouge-btn));
}

.presentation .text {
    padding-top: 10vh;
    color: var(--blanc);
}
.bienvenu {
    font-size: 5vh;
    margin-top: 10vh;
}