.text-bg {
    color: var(--blanc);
    position: relative;

    top: 50vh;
    left: 30vw;

    transform: translate(-50%, -60%);

    width: 40vw;
    height: 50vh;

    background: rgba(155, 155, 150, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box-image {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.box-image .image-fond {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    margin-top: 25%;
    margin-left: 15px;
    top: 0%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.box-image::before {
    position: absolute;
    content: "";
    top: -2%;
    height:  250%;
    width: 100%;
    z-index: -99;
    background-color: black;
    opacity: 0.3;
}

.text-bg .text {
    margin-left: 10vw;
}

.logo {
    margin-left: 2vw;
    justify-content: center;
    font-size: 4vmax;
}

.under-title {
    width: 70%;
    border-radius: 100px;
    border: white 4px solid;
    color: #FFFFFF;
    background-color: #FFFFFF;
    margin-top: 0vh;
}

.sub-title {
    margin-top: 5vh;
    font-size: 4vmin;
}

.text-pres {
    display: flex;
    margin-left: 55%;
    margin-top: -5%;

    justify-content: center;

    width: 40%;

    background: rgba(155, 155, 150, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2%;
    color: white;
    font-size: 1vmax;
}

.pres {
    justify-content: center;
    align-items: center;
}

.mouse-scroll {
    top: 85%;
    left: 10%;
}

.back-top .border {
    position: fixed;
    top: 88%;
    left: 90%;
    border: rgba(232,232,232,50%) 2px solid;
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

.back-top .border img {
    margin-left: 8px;
    margin-top: 6px;
    width: 60px;
    height: 60px;
}

.presentation {
    height: 100vh;
    padding-top: 15%;
    padding-bottom: 10vh;
    text-align: center;
    background: linear-gradient(to bottom right, #C00000, #d42b2e);
}

.presentation .text {
    color: var(--blanc);
    text-align: justify;
    margin-left: 22%;
    width: 59%;
}

.presentation .text p {
    font-size: 4vw;
}

.bienvenu {
    font-size: 5vw;
    margin-top: 10vh;
}


.logo-partenaires {
    margin-top: 4%;
}

.donner-envie {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;

    margin: auto;
    
    padding: 2%;

    background: rgba(155, 155, 150, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.accroche {
    font-size: 2vw;
    color: var(--blanc);
    padding-bottom: 2%;
}

.call-action {
    color: white;
    font-size: 1.5vw;
    text-decoration: white underline;
    padding: 1%;
    border-radius: .5vmax;
    background: linear-gradient(to bottom right, #C00000, #EC2E30);
}

.container .link {
    text-decoration: none;
    color: white;
}

.best-buy, .godaddy, .univ, .western-union, .whirlpool {
    width: 90%;
}

@media screen and (min-width: 600px) {
    .presentation .text p {
        font-size: 4vh;
    }
    
    .bienvenu {
        font-size: 5vh;
    }
}