.couleur {
    padding-top: 4%;
    font-size: large;
}

.couleur .bleu,.rouge-1,.rouge-2,.rouge-3,.rouge-btn,.blanc,.couleur-text {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 5px;
    border: black solid;
    border-radius: 5px;
}

.bleu {
    background-color: var(--bleu);
}

.rouge-1 {
    background-color: var(--rouge-1);
}

.rouge-2 {
    background-color: var(--rouge-2);
}

.rouge-3 {
    background-color: var(--rouge-3);
}

.rouge-btn {
    background-color: var(--rouge-btn);
}

.blanc {
    background-color: var(--blanc);
}

.couleur-text {
    background-color: var(--text-color);
}

.font {
    padding-top: 2%;
    font-size: large;
}

.font-base {
    padding-top: 1vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.font-title {
    padding-top: 1vh;
    color: #C00000;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}