html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.underline {
    margin-left: 5%;
}
.mouse-scroll{
    left: 48.2%;
    transition: all .4s;
}

.mouse-scroll:hover {
    transform: scale(1.15,1.15);
}

.back-top .border {
    position: fixed;
    top: 88%;
    left: 90%;
    border: rgba(232,232,232,50%) 2px solid;
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

.back-top .border img {
    margin-left: 8px;
    margin-top: 6px;
    width: 60px;
    height: 60px;
}


/* PARTIE  : VIDEO   ----------------------------*/

video{
    width: 100%;
    margin-top: -2%;
}

.blur {
    margin-top: -119vh;
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(5px);
    height: 119vh;
    width: 100%;
}

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
}



/* PARTIE  : CARTES   ----------------------------*/


.ensemble_carte {
    display: flex;
    flex-direction: row;

}


.container_2 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 15vh;
    flex-direction: row;
    justify-content: center;


}

.titre_fonction{
    position: absolute;
    top: 15%;
    font-size: 50px;
}



.container_card {
    width: 300px;
    height: 400px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #26364d;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 0 5px #000;
    border-radius: 15px;
}

.plus_info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: linear-gradient(to bottom right, #C00000, #d42b2e);
    color: #FEF5DF;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 15px;
}

.items {
    padding-left: 20px;
    letter-spacing: 3px;
}

.head {
    font-size: 30px;
    line-height: 40px;
    transform: translateY(40px);
    transition: all 0.7s;
}
.head hr {
    display: block;
    width: 0;
    border: none;
    border-bottom: solid 2px #FEF5DF;
    position: absolute;
    bottom: 0;
    left: 20px;
    transition: all 0.5s;
}

.price {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
}
.price .old {
    text-decoration: line-through;
    color: #b3b3b3;
}

.foot {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    transform: translateY(40px);
    transition: all 0.7s;
}
.foot i {
    font-size: 16px;
}
.foot span {
    margin-left: 10px;
}

.container_card:hover .plus_info {
    opacity: 1;
}
.container_card:hover .plus_info .head {
    transform: translateY(0px);
}
.container_card:hover .plus_info hr {
    width: 75px;
    transition-delay: 0.4s;
    margin-bottom: 6px;
}

.container_card:hover .plus_info .foot {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
}

#carte1 {
    background-image: url("../assets/taniumasset.png");
}

#carte2 {
    background-image: url("../assets/taniumdiscover.png");
}

#carte3 {
    background-image: url("../assets/taniumpatch.png");
}

#carte4 {
    background-image: url("../assets/taniumperformance.png");
}


/* CONTAINER BLEU   ----------------------------*/

.module_1{
    width: 100%;
    height: 102vh;
    background: linear-gradient(53deg,#121820 0,#26364d 100%);
    color: white;
    text-align: justify;
}


.hero {
    height: 100vh;
    width: 100%;
}
.hero_container {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
    /*   text-align: center; */
}
.hero .info h4 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero .info h5 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.texte {
    font-size: 1.2rem;
}



/* CONTAINER ROUGE  ----------------------------*/

.module_2{
    background: linear-gradient(233deg, #EC2E30 0%, #C00000 33%, #8C0705 100%);
    width: 100%;
    height: 102vh;
    color: white;
    text-align: justify;
}


/* BOUTON BAS   ----------------------------*/

.button_bas {
    appearance:none;
    background-color:transparent;
    border:none;
    outline:none;
    background-image:url('../assets/bas-modified.png');
    background-size:40px 34px;
    background-position: 18px 5px;
    padding:22px 38px;
    background-repeat:no-repeat;
    position: relative;
    top: 40%;
    right: 46%;
}