.titreprinci{
    text-align:left;
    color: White;
    font-size: 300%;
    margin-left: 2%;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.titresecondaire{
    text-align: left;
    color: White;
    font-size: 300%;
}

.minisect{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20%;
}

body{
    color:white;
    text-align: justify;
    background: linear-gradient(233deg, #EC2E30 0%, #C00000 33%, #8C0705 100%);
}

.section2{
    display: flex;
    justify-content: center;
}

.container{
    border: 1px solid white;
    padding: 2%;
    margin-right: 2%;
    background: #1B222E;
    border-radius: 6%;
    box-shadow: 0 15px 50px rgba(0,0,0,.2);
    position: absolute;
    width: 30%;
    margin-left: 69%;
}

.circle{
    width: 200px;
    height: 200px;
    background: url(../assets/FondaTaniumcarre.png);
    background-size: 100% 100%;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin:4%;
}

.para1{
    line-height: 200%;
    margin-left: 3%;
    margin-right: 33%;
    font-size: 135%;
    padding-bottom: 10%;
}

.container2{
    margin-top: -15%;
    padding-bottom: 5%;
    padding-top: 2%;
    background-color: #1B222E;
    width: 100%;
}

.para2{
    line-height: 3%;
    margin-top: 13%;
    margin-left: 50%;
    margin-right: 10%;
    font-family: cursive;
    font-size: 120%;
}

.paramodule{
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 100%;
    word-spacing: 1%;
    text-align:inherit;
}

.card1{
    position: center;
    width : 15%;
    padding: 1%;
    background-color: #C00000;
    border-radius: 5px;
    box-shadow: 0 15px 50px rgba(0,0,0.2);
    margin-left: 5%;
}

.carre1{
    width :45%;
    height: 45%;
    float: left;
}


.titremodule{
    font-size: 160%;
    font-family: Arial, Helvetica, sans-serif;
    padding : 2%
}

.waviy {
    text-align: center;
    margin-top: 20%;
    font-size: 200%;
}


.waviy span {
    position: relative;
    display: inline-block;
    font-size:100%;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

.section3{
    vertical-align : middle;
    top : 167%;
    height : 40%
}

.section4{
    background-color: #1B222E;
}

.titreeco{
    color: white;
    padding: 2%;
}

.div1eco{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 120%;
    margin-bottom: 3%;
    padding: 3%;
}

.paraeco{
    margin: 2%;
}

.excourbe{
    width: 115%;
    height: 115%;
    padding: 2%;
    margin-top : -5%
}

@media screen and (max-width : 1714px){
    .paramodule{
        font-size : 80%;
        padding: 1%;
    }
    .card1{
        padding: 1%;
    }
    .titremodule{
        font-size: 130%;
    }
}

@media screen and (max-width : 1224px){
    .paramodule{
        font-size : 70%;
        padding: 1%;
    }
    .card1{
        padding: 1%;
    }
    .titremodule{
        font-size: 100%;
    }
    .waviy{
        font-size: 100%;
    }
}


@keyframes flip {
    0%,80% {
        transform: rotateY(720deg)
    }
}

.mouse-scroll{
    left : 85%;
    margin-top: 5%;
}

@media (min-width: 600px) and (max-width: 800px) {
    .underline {
        margin-left: 19%;
    }
}