* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.bg {
    background-color: #1B222E;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-header {
    background: rgba(232, 232, 232, 75%);
    border-bottom: #1B222E 2px solid;
}

/* logo in navbar */
.nav-brand { 
    justify-content: center;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}

.menu-logo {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 3%;
    height: 26px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-icon {
    display: block;
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 1500px;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    transition: transform 0.4s ease-in-out;
}

/* Rotate first bar */
.change .menu-1 { 
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    transform: rotate(45deg); 
}

/* Fade out the second bar */
.change .menu-2 { 
    transition: transform 0.2s ease-in-out;
    transform: scaleY(0); }

/* Rotate last bar */
.change .menu-3 { 
    transform-origin: 0% 100%;
    transform: rotate(-45deg); 
    transition: transform 0.4s ease-in-out;
}

#nav {
    list-style: none;
    display: none;
    opacity: 0;
    background-color: rgba(232, 232, 232, .75);
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
    border-bottom: #1B222E 2px solid;
    transition: opacity 1s;
    font-size: 4vmax;
}

@media screen  and (min-width: 1600px) {
    .burger-icon { display: none; }
    .nav-header { background-color: rgba(232, 232, 232, 75%); }

    ul li {
        display: inline;
        text-align: center;
    }

    #nav {
        visibility: visible;
        opacity: 1;
        font-size: 30px;
        padding: 0;
        padding-top: .2vmin;
        border-bottom: none;
        margin-top: -6.5vmin;
        background-color: rgba(0,0,0,0%);
        float: right;
        color: var(--text-color);
        display: inline;
    }

    .nav-brand { width:  15vmax; }

    .nav-link {
        display: inline;
        width: 25vmax;
        padding: .75rem 0;
    }

    .link-1:hover ~ hr { margin-left: 1%;}

    .link-2:hover ~ hr { margin-left: 19%; }

    .link-3:hover ~ hr { margin-left: 45%; }

    .link-4:hover ~ hr { margin-left: 78%; }

    .underline {
        height: .25rem;
        width: 15%;
        margin-left: 1%;
        background: var(--bleu);
        border: none;
        transition: .3s ease-in-out;
    }
}

.nav-item {
    padding-left: 1em;
    padding-right: 1em;
    display: inline;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
}

.nav-link:hover { color: var(--text-color); }

.nav-link:active {
    color: var(--text-color);
    text-decoration: none;
}

.mouse-scroll {
    position: absolute;
    left: 50%;
    top: 80%;

    padding: 10px 15px;

    width: 30px;
    height: 70px;

    border: 2px solid #fff;
    border-radius: 50px;

    opacity: 0.75;
    box-sizing: content-box;
}

.scroll-animation {
    width: 8px;
    height: 20px;
    border-radius: 25%;

    background-color: #fff;

    margin: auto;

    animation-name: scroll;
    animation-duration: 3.0s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}


@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(20px); opacity: 0;}
}

.footer {
    color: var(--blanc);
    display: flex;
    padding-top: 2%;
    padding-bottom: 9%;
}

.footer .credit {
    position: absolute;
    left: 2%;
    margin-top: 2%;
}

.footer .github {
    position: absolute;
    left: 30%;
    margin-top: 1.5%;
}

.footer .github .github-link {
    color: var(--blanc);
    text-decoration: underline var(--blanc);
    transition: .4s;
}

.footer .github .github-link:hover {
    padding-left: 10px;
    transition: .4s;
}

.footer .pages {
    position: absolute;
    left: 50%;
    padding-bottom: 2%;
}

.footer .link {
    color: var(--blanc);
    text-decoration: underline var(--blanc);
    transition: .4s;
}

.footer .link:hover {
    padding-left: 10px;
    transition: .4s;
}

.footer .legal {
    position: absolute;
    left: 60%
}

.footer .groupe {
    position: absolute;
    left: 75%;
}

:root {
    --bleu: #1B222E;
    --rouge-1: #AF2417;
    --rouge-2: #971E15;
    --rouge-3: #D8423C;
    --rouge-btn: #D9423B;
    --blanc: #FFFFFF;
    --text-color: #1B222E;
    /*--text-color: #FFFFFF;*/
}