* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.bg {
    background-color: #1B222E;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-header {
    background: rgba(232, 232, 232, 75%);
    border-bottom: #1B222E 2px solid;
}

.nav-brand {
    justify-content: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.menu-logo {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
    padding-top: 7px;
    padding-right: 5px;
}

.burger-icon {
    width: 6vw;
    height: 1.4vw;
    background-color: black;
    margin-bottom: .3vh;
    border-radius: 1500px;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .menu-1 { transform: translate(0, .95vh) rotate(-45deg); }

/* Fade out the second bar */
.change .menu-2 {opacity: 0;}

/* Rotate last bar */
.change .menu-3 { transform: translate(0, -.95vh) rotate(45deg); }

#nav {
    list-style: none;
    display: none;
    opacity: 0;
    background-color: rgba(232, 232, 232, 75%);
    text-align: center;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: #1B222E 2px solid;
    transition: opacity 1s;
    font-size: 8vw;
}

@media screen and (min-width: 800px) {
    .change .menu-1 { transform: translate(0, 13px) rotate(-45deg); }
    .change .menu-3 { transform: translate(0, -13px) rotate(45deg); }
}

@media screen  and (min-width: 1000px) {
    .burger-icon { display: none; }
    .nav-header { background-color: rgba(232, 232, 232, 75%); }

    ul li {
        display: inline;
        text-align: center;
    }

    #nav {
        visibility: visible;
        opacity: 1;
        font-size: 2vw;
        padding: 0;
        border-bottom: none;
        margin-top: -6.5vh;
        background-color: rgba(0,0,0,0%);
        float: right;
        color: var(--text-color);
        display: inline;
    }

    .nav-brand { width:  15vw; }

    .nav-link {
        display: inline;
        width: 25%;
        padding: .75rem 0;
        /*border-radius: 10px;*/
        /*border:  2px black solid;*/
    }

    .link-2:hover ~ hr { margin-left: 19%; }

    .link-3:hover ~ hr { margin-left: 45%; }

    .link-4:hover ~ hr { margin-left: 78%; }

    .underline {
        height: .25rem;
        width: 15%;
        margin-left: 1%;
        background: var(--bleu);
        border: none;
        transition: .3s ease-in-out;
    }
}

.nav-item {
    padding-left: 1em;
    padding-right: 1em;
    display: inline;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
}

.nav-link:hover { color: var(--text-color); }

.nav-link:active {
    color: var(--text-color);
    text-decoration: none;
}

.mouse-scroll {
    position: absolute;
    left: 50%;
    top: 80%;

    padding: 10px 15px;

    width: 30px;
    height: 70px;

    border: 2px solid #fff;
    border-radius: 50px;

    opacity: 0.75;
    box-sizing: content-box;
}

.scroll-animation {
    width: 8px;
    height: 20px;
    border-radius: 25%;

    background-color: #fff;

    margin: auto;

    animation-name: scroll;
    animation-duration: 3.0s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}


@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(20px); opacity: 0;}
}

:root {
    --bleu: #1B222E;
    --rouge-1: #AF2417;
    --rouge-2: #971E15;
    --rouge-3: #D8423C;
    --rouge-btn: #D9423B;
    --blanc: #FFFFFF;
    --text-color: #1B222E;
    /*--text-color: #FFFFFF;*/
}