.header-red {
    position: fixed;
    display: flex;
    background-color: red;
    width: 50%;
    height: 6%;
    left: 25%;
    border-radius: 20px;
}

.text {
    margin-top: 4%;
    margin-bottom: 2%;
}

.text a {
    color: black;
}